.navbar{
    display: flex;
    flex-wrap: nowrap;
    color:rgb(187, 165, 165);
    align-items: center;
}

.navbar img{
    width: 80px;
    height: 80px;
    padding: 10px;
}

.movies-link{
    text-decoration: none;
    margin: 10px;
    font-size: 35px;
    font-weight: bolder;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(248, 118, 12);
}
.watchlist-link{
    text-decoration: none;
    margin: 10px;
    font-size: 35px;
    font-weight: bolder;
    padding: 10px;
    color: rgb(248, 118, 12);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.company-title{
    text-decoration: none;
    margin: 10px;
    font-size: 35px;
    font-weight: bolder;
    padding: 10px;
    color: rgb(248, 118, 12);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}