*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.movie-card{   
    position: relative;
    margin: 5px;
    width: 300px;
    height: 400px;
    border: 0.1 solid black;
}
.card-img img{
    position: absolute;
    width: 300px;
    height: 300px;  
}
.card-title{
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    background: black;
    opacity: 0.7;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
.card-overview{
    position: absolute;
    top:300px;
    color: white;
}

.movie-details-link{
    position: absolute;
    left: 95%;
    color: black;
    text-decoration: none;
    background-color: red;
}
.add-to-watchlist{
    position: absolute;
}
.remove-from-watchlist{
    position: absolute;
}